<%= render partial: "products/product_navbar" %>

<% if @products.empty? && @category %>
  <h4 class="button-height">
    <%= @category.description %>
    <%# if current_user.can_view_and_edit_products? %>
      <%= link_to '', edit_category_path(@category), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil' %>
      <%= link_to "Create Product", new_product_path(category_id: @category.id), class: "btn btn-primary pull-right" %>
    <%# end %>
  </h4>

  <hr />

  <p class="text-danger">
    There are no products in this category. To add an product, hit the "Create Product" button. If you want to delete this category, click the pencil button.
  </p>
<% elsif @products.empty? %>
  Product list is empty. Please select a category on the left and add an product.
<% else %>
  <h4 class="button-height" style="color:white;">
    <% if @category.present? %>
      <%= @category.name %>
    <% else %>
      All Products
    <% end %>

    <%# if current_user.can_view_and_edit_products? %>
      <%= link_to '', edit_category_path(@category), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil' if @category.present? %>
      <%= link_to "Create Product", new_product_with_category_path, class: "btn btn-primary pull-right" %>
    <%# end %>
  </h4>

  <div class="row">
    <div class="list-group">
      <% @products.each do |product| %>
        <a href="<%= products_path(category_id: @category, product_id: product) %>"
          class="list-group-item list-group-item-dark <%= @product == product ? 'active' : 'list-group-item-action' %>">
          <%= product.name %>
        </a>
      <% end %>
    </div>
    <div class="col-xs-8">
      <%= @product.description if @product.present? %>
    </div>
  </div>
<% end %>
